<HTML>
<HEAD>
  <TITLE>index.html</TITLE>
  <meta NAME = "GENERATOR"          CONTENT = "IHMC CmapTools vr. 4.12 ">
  <meta NAME = "KEYWORDS"           CONTENT = "Roberto Carmona, Concept Map, cmap, CmapTools, IHMC, swebok,  Soft.Construction,  Soft.Engineering Management,  Project Management,  Prototype2,  Soft.Engineering Tools and Methods,  SWEBOK Subtopic KA's,  Soft.Engineering Process,  Quality Assurance,  Soft.Testing,  Minimizing Complexity,  Quality Analysis,  Architectural Diagram,  PMP,  Soft.Requirements,  Transition,  Prototype 2.1,  Prototype,  DSM,  Reviews,  Vision">
  <meta NAME = "DESCRIPTION"        CONTENT = "This Concept Map, created with IHMC CmapTools, has information related to: swebok, HomeWork Fundamentals SWEBOK KA's, Prototype2 Consist Login, Inception Finished Architectural Diagram, Roberto's CMAP Phases Transition, Revised Risk are FMEA, Elaboration Finished Revised Risk, Construction 4 Transition, Roberto's CMAP Fundamentals SWEBOK KA's, Roberto's CMAP Phases Inception, Construction Finished Prototype2, Inception Finished Risk Analysis- DSM, Reviews Fundamentals SWEBOK KA's, Roberto's CMAP Phases Elaboration, Inception Finished Prototype, Construction Finished Documents, Elaboration 3 Construction, Roberto's CMAP ???? Exam2, Inception 2 Elaboration, Revised Risk are QFD, Elaboration Finished Prototype">
  <meta NAME = "AUTHOR"             CONTENT = "IHMC CmapTools">
  <meta HTTP-EQUIV = "Content-Type" CONTENT = "text/html; charset = UTF-8">
  <script LANGUAGE="JavaScript1.2">
  <!--
    //  PopUp --
    //  Institute for Human and Machine Cognition, http://www.ihmc.us/
    //  CmapTools, Version 5.03, http://cmap.ihmc.us/
    //  Support at http://cmapforum.ihmc.us/
    //  Modify by: CmapTools Developers, cmapsupport AT ihmc DOT us
    //  Date: 10/06/2009

    var IE = 0;
    var IE4PC = 0;
    var NS = 0;
    var GECKO = 0;

    var openpopups = new Array();

    if (document.all) {                 // Internet Explorer Detected
	   IE = true;	
    }
    else if (document.layers) {         // Netscape Navigator Detected
	   NS = true;	
    }
    else if (document.getElementById) { // Netscape 6 Detected
       GECKO = true;
    }
    else {
	   alert("Unrecognized Browser Detected::\nSorry, your browser is not compatible.");
    }

    if (IE)
    {
	   OS = navigator.platform;
	   VER = new String(navigator.appVersion);
	   VER = VER.substr (0, VER.indexOf(" "));
	   if ((VER < 4.8) && (OS == "Win32")) 
	   {
	       IE4PC = 1;
	   }
    }

    function handleResize() {
	    location.reload();
	    return false;
    }


    if ((NS) && (navigator.platform == "MacPPC")) {
	   window.captureEvents (Event.RESIZE);
	   window.onresize = handleResize;
    }

    function openResource(event, resourcePath, resourceName, resourceType)
    {
	   var newwindow;

       // Resource MIMETypes are enumerated as follows: 
       // cMap     = Undefined
       // Image    = 0
       // Video    = 1
       // Text     = 2
       // Audio    = 3

       popDown();

	   switch (resourceType) 
	   {
	    case 0:     //Image
                    newwindow = window.open (resourcePath,resourceName);
                    newwindow.onBlur = newwindow.focus()
                    var text ='<center><img src=\"';
                    text += resourcePath;
                    text +='\"> </center>';
             break;
		
	    case 1:  text   // Video
		     newwindow = window.open (resourcePath,resourceName);
                     newwindow.onBlur = newwindow.focus()
                     var text ='<embed src=\"';
                     text += resourcePath;
                     text +='\" autostart=true> </embed> ';
             break;

	    case 2:      // Text or Unknown 
		     newwindow = window.open(resourcePath,resourceName);
                     newwindow.onBlur = newwindow.focus()
              break;

	    case 3:       // Audio
                    newwindow = window.open (resourcePath,resourceName);
                    newwindow.onBlur = newwindow.focus()
                    var text ='<embed src=\"';
                    text += resourcePath;
                    text +='\" autoplay=true> </embed> ';
             break;

	    case 4:
                    newwindow = window.open(resourcePath,resourceName);
                    newwindow.onBlur = newwindow.focus()
	     break;
	    }
        return;
    }



    function popUpEvt(event, popupName)
    {
	popDown();

	if (GECKO)
	{
	    document.getElementById(popupName).style.left = event.pageX;
	    document.getElementById(popupName).style.top = event.pageY;
	    document.getElementById(popupName).style.background = "#B3B3B3";
	    document.getElementById(popupName).style.visibility = "visible";
	    openpopups.push(popupName);
	}
	else if (NS) 
	{
	    document.layers[popupName].moveTo (event.pageX, event.pageY);
	    document.layers[popupName].bgColor = "#B3B3B3";
	    document.layers[popupName].visibility = "show";
	    openpopups.push(popupName);
	}
	else // if (IE)
	{
	    window.event.cancelBubble = true;
	    if (!IE4PC) {
		document.all[popupName].style.backgroundColor = "#B3B3B3";
	    }	
	    document.all[popupName].style.left = window.event.clientX + document.body.scrollLeft;
	    document.all[popupName].style.top = window.event.clientY + document.body.scrollTop;
	    document.all[popupName].style.visibility = "visible";
	    openpopups[openpopups.length] = popupName;
	}
	return false;
    }

    function popDown()
    {
	var popupname;
	
	for (var i = 0; i < openpopups.length; i++) 
	{
	    popupname = new String (openpopups[i]);      
	    if (GECKO) {
		document.getElementById(popupname).style.visibility = "hidden";
	    }
	    else if (NS) {
		document.layers[popupname].visibility = "hide";
	    }
	    else {
		document.all[popupname].style.visibility = "hidden";
	    }
	}
	openpopups = new Array();
	return;
    }

    function popDownNoGecko() 
    {
	var popupname;
	for (var i = 0; i < openpopups.length; i++) 
	{
	    popupname = new String (openpopups[i]);      
	    if (GECKO) {
           //  document.getElementById(popupname).style.visibility = "hidden"; 
	        return;   // erased for test purposes
	    }  
	    else if (NS) {
	        document.layers[popupname].visibility = "hide";
	    }
	    else {
	        document.all[popupname].style.visibility = "hidden";
	    }
	}
	openpopups = new Array();
        return;
    }
  //-->
  </script>
</HEAD>
<BODY bgcolor="#FFFFFF" leftmargin="0" topmargin="0">
<noscript>
  <table width=90% cellpadding=10>
    <tr>
      <td bgcolor=ff4447>
        <font color=000000 size=+1 face="helvetica">
        <h1>WARNING:</h1>
        <b>JavaScript is turned OFF.  None of the links on this concept map will <br>
           work until it is reactivated.
          <p>
            <a href="http://cmap.ihmc.us/docs/EnablingJavaScript.html">
                            If you need help turning JavaScript On, click here.
            </a>
          </p>
        </b>
      </td>
    </tr>
  </table>
This Concept Map, created with IHMC CmapTools, has information related to: swebok, HomeWork Fundamentals SWEBOK KA's, Prototype2 Consist Login, Inception Finished Architectural Diagram, Roberto's CMAP Phases Transition, Revised Risk are FMEA, Elaboration Finished Revised Risk, Construction 4 Transition, Roberto's CMAP Fundamentals SWEBOK KA's, Roberto's CMAP Phases Inception, Construction Finished Prototype2, Inception Finished Risk Analysis- DSM, Reviews Fundamentals SWEBOK KA's, Roberto's CMAP Phases Elaboration, Inception Finished Prototype, Construction Finished Documents, Elaboration 3 Construction, Roberto's CMAP ???? Exam2, Inception 2 Elaboration, Revised Risk are QFD, Elaboration Finished Prototype

</noscript>

<map name="index.html">
  <area shape="rect"
        href="1HVSR6KXWI1GK9NT3IBMItextIhtml"
        onClick="popUpEvt(event,'1HVSR6KXWI1GK9NT3IBMItextIhtml'); return false;"
        coords="62,557,80,575">
  <area shape="rect"
        href="1HZ7SX4KCI1C78YVI88ItextIhtml"
        onClick="popUpEvt(event,'1HZ7SX4KCI1C78YVI88ItextIhtml'); return false;"
        coords="94,309,112,327">
  <area shape="rect"
        href="1JBHGPNCLI2874TYNIT0ItextIhtml"
        onClick="popUpEvt(event,'1JBHGPNCLI2874TYNIT0ItextIhtml'); return false;"
        coords="327,412,345,430">
  <area shape="rect"
        href="1J60KF1WCI1JSTB3GIBVItextIhtml"
        onClick="popUpEvt(event,'1J60KF1WCI1JSTB3GIBVItextIhtml'); return false;"
        coords="940,322,958,340">
  <area shape="rect"
        href="1HZ7SZDXSI1GJKT4MI8PItextIhtml"
        onClick="popUpEvt(event,'1HZ7SZDXSI1GJKT4MI8PItextIhtml'); return false;"
        coords="109,208,127,226">
  <area shape="rect"
        href="1HZ7SZCGCI1YLR21WI8KItextIhtml"
        onClick="popUpEvt(event,'1HZ7SZCGCI1YLR21WI8KItextIhtml'); return false;"
        coords="80,362,98,380">
  <area shape="rect"
        href="1JBKJ4999IXW7YK2IJGItextIhtml"
        onClick="popUpEvt(event,'1JBKJ4999IXW7YK2IJGItextIhtml'); return false;"
        coords="322,612,340,630">
  <area shape="rect"
        href="1HVSR7G8BI1CCYP9QICKItextIhtml"
        onClick="popUpEvt(event,'1HVSR7G8BI1CCYP9QICKItextIhtml'); return false;"
        coords="51,711,69,729">
  <area shape="rect"
        href="1JB60QHHNI1WXSFV0IHMItextIhtml"
        onClick="popUpEvt(event,'1JB60QHHNI1WXSFV0IHMItextIhtml'); return false;"
        coords="333,559,351,577">
  <area shape="rect"
        href="1JB60N1KTIW1PGNCIDYItextIhtml"
        onClick="popUpEvt(event,'1JB60N1KTIW1PGNCIDYItextIhtml'); return false;"
        coords="316,661,334,679">
  <area shape="rect"
        href="1HTB6FC6HI22G1V7MI7FItextIhtml"
        onClick="popUpEvt(event,'1HTB6FC6HI22G1V7MI7FItextIhtml'); return false;"
        coords="796,49,814,67">
  <area shape="rect"
        href="1JDSWL1NNI57TV8VIRHItextIhtml"
        onClick="popUpEvt(event,'1JDSWL1NNI57TV8VIRHItextIhtml'); return false;"
        coords="844,461,862,479">
  <area shape="rect"
        href="1HVSR3W8VI26XWGR3I8KItextIhtml"
        onClick="popUpEvt(event,'1HVSR3W8VI26XWGR3I8KItextIhtml'); return false;"
        coords="64,463,82,481">
  <area shape="rect"
        href="1J993Z0CJIY2RSS1I2Q4ItextIhtml"
        onClick="popUpEvt(event,'1J993Z0CJIY2RSS1I2Q4ItextIhtml'); return false;"
        coords="1058,323,1076,341">
  <area shape="rect"
        href="1HRCRSJ04I16B9DP0IV0ItextIhtml"
        onClick="popUpEvt(event,'1HRCRSJ04I16B9DP0IV0ItextIhtml'); return false;"
        coords="975,42,993,60">
  <area shape="rect"
        href="1J9YHPPF5I1NDLB4MIGMItextIhtml"
        onClick="popUpEvt(event,'1J9YHPPF5I1NDLB4MIGMItextIhtml'); return false;"
        coords="773,428,791,446">
  <area shape="rect"
        href="1HQ0H5TBGIHCLXY6IDWItextIhtml"
        onClick="popUpEvt(event,'1HQ0H5TBGIHCLXY6IDWItextIhtml'); return false;"
        coords="45,99,63,117">
  <area shape="rect"
        href="1JDSWLT9KI1L3615SISFItextIhtml"
        onClick="popUpEvt(event,'1JDSWLT9KI1L3615SISFItextIhtml'); return false;"
        coords="853,583,871,601">
  <area shape="rect"
        href="1JB38813NI1M9J9MRILQItextIhtml"
        onClick="popUpEvt(event,'1JB38813NI1M9J9MRILQItextIhtml'); return false;"
        coords="288,257,306,275">
  <area shape="rect"
        href="1HRCRKBT4I2BBNSCJIR8ItextIhtml"
        onClick="popUpEvt(event,'1HRCRKBT4I2BBNSCJIR8ItextIhtml'); return false;"
        coords="987,89,1005,107">
  <area shape="rect"
        href="1HRCRKBT4I2BBNSCJIR8ItextIx-url"
        onClick="popUpEvt(event,'1HRCRKBT4I2BBNSCJIR8ItextIx-url'); return false;"
        coords="1004,89,1022,107">
  <area shape="rect"
        href="1HZ7SX0JZI1NNX6ZSI7ZItextIhtml"
        onClick="popUpEvt(event,'1HZ7SX0JZI1NNX6ZSI7ZItextIhtml'); return false;"
        coords="98,257,116,275">
  <area shape="rect"
        href="1HVSR5V7MIRW58DIB2ItextIhtml"
        onClick="popUpEvt(event,'1HVSR5V7MIRW58DIB2ItextIhtml'); return false;"
        coords="49,658,67,676">
  <area shape="rect"
        href="1JBHGV7VLI2DJFRW9I1D0ItextIhtml"
        onClick="popUpEvt(event,'1JBHGV7VLI2DJFRW9I1D0ItextIhtml'); return false;"
        coords="337,712,355,730">
  <area shape="rect"
        href="1JDSWSPCDI20M5H8QI10FItextIhtml"
        onClick="popUpEvt(event,'1JDSWSPCDI20M5H8QI10FItextIhtml'); return false;"
        coords="689,588,707,606">
  <area shape="rect"
        href="1HZ96H7WXI1JDQQB9I8YItextIhtml"
        onClick="popUpEvt(event,'1HZ96H7WXI1JDQQB9I8YItextIhtml'); return false;"
        coords="987,146,1005,164">
  <area shape="rect"
        href="1JB387F5TI19GTMVKIKZItextIhtml"
        onClick="popUpEvt(event,'1JB387F5TI19GTMVKIKZItextIhtml'); return false;"
        coords="297,207,315,225">
  <area shape="rect"
        href="1JBHGSH1RIDF9HSMI12YItextIhtml"
        onClick="popUpEvt(event,'1JBHGSH1RIDF9HSMI12YItextIhtml'); return false;"
        coords="340,462,358,480">
  <area shape="rect"
        href="1HZ7SZGF7IDM5CPQI8YItextIhtml"
        onClick="popUpEvt(event,'1HZ7SZGF7IDM5CPQI8YItextIhtml'); return false;"
        coords="63,413,81,431">
  <area shape="rect"
        href="1HZ7SZFMZI1B14J6JI8TItextIhtml"
        onClick="popUpEvt(event,'1HZ7SZFMZI1B14J6JI8TItextIhtml'); return false;"
        coords="50,608,68,626">
  <area shape="rect"
        href="1JDSWL9XDI2DV92C7IRSItextIhtml"
        onClick="popUpEvt(event,'1JDSWL9XDI2DV92C7IRSItextIhtml'); return false;"
        coords="847,504,865,522">
  <area shape="rect"
        href="1HZ9DMBNSI1VZJXZ2I1D2ItextIhtml"
        onClick="popUpEvt(event,'1HZ9DMBNSI1VZJXZ2I1D2ItextIhtml'); return false;"
        coords="866,167,884,185">
  <area shape="rect"
        href="1J9YHPF9KI1NS2PKQIG7ItextIhtml"
        onClick="popUpEvt(event,'1J9YHPF9KI1NS2PKQIG7ItextIhtml'); return false;"
        coords="771,384,789,402">
  <area shape="rect"
        href="1HST1BC2CI1S91464I72ItextIhtml"
        onClick="popUpEvt(event,'1HST1BC2CI1S91464I72ItextIhtml'); return false;"
        coords="45,44,63,62">
  <area shape="rect"
        href="1JF0GJVQ6I13STLYDIGRItextIhtml"
        onClick="popUpEvt(event,'1JF0GJVQ6I13STLYDIGRItextIhtml'); return false;"
        coords="776,508,794,526">
  <area shape="rect"
        href="1JDSWLH9MI29BZH2PIS5ItextIhtml"
        onClick="popUpEvt(event,'1JDSWLH9MI29BZH2PIS5ItextIhtml'); return false;"
        coords="848,544,866,562">
  <area shape="rect"
        href="1HZ9B92JPIQ4HFHDIZ0ItextIhtml"
        onClick="popUpEvt(event,'1HZ9B92JPIQ4HFHDIZ0ItextIhtml'); return false;"
        coords="773,142,791,160">
  <area shape="rect"
        href="1JBKJ2ZBCISVW0BPIFRItextIhtml"
        onClick="popUpEvt(event,'1JBKJ2ZBCISVW0BPIFRItextIhtml'); return false;"
        coords="314,515,332,533">
  <area shape="rect"
        href="1HZGDW791IBRKMDBIB2ItextIhtml"
        onClick="popUpEvt(event,'1HZGDW791IBRKMDBIB2ItextIhtml'); return false;"
        coords="614,35,632,53">
  <area shape="rect"
        href="1HZ9DMMX8I19NDPLKI1DLItextIhtml"
        onClick="popUpEvt(event,'1HZ9DMMX8I19NDPLKI1DLItextIhtml'); return false;"
        coords="888,256,906,274">
  <area shape="rect"
        href="1HZ9DMHJ9I9TCG6SI1DBItextIhtml"
        onClick="popUpEvt(event,'1HZ9DMHJ9I9TCG6SI1DBItextIhtml'); return false;"
        coords="933,214,951,232">
  <area shape="rect"
        href="1J60KLJJYI24W396GIJSItextIhtml"
        onClick="popUpEvt(event,'1J60KLJJYI24W396GIJSItextIhtml'); return false;"
        coords="943,397,961,415">
  <area shape="rect"
        href="1JBHGLC3CIDDR44TIF7ItextIhtml"
        onClick="popUpEvt(event,'1JBHGLC3CIDDR44TIF7ItextIhtml'); return false;"
        coords="364,362,382,380">
  <area shape="rect"
        href="1J9YHRDGQI1596JXJIHCItextIhtml"
        onClick="popUpEvt(event,'1J9YHRDGQI1596JXJIHCItextIhtml'); return false;"
        coords="842,385,860,403">
  <area shape="rect"
        href="1JB388HB5I1HVKXN7IM5ItextIhtml"
        onClick="popUpEvt(event,'1JB388HB5I1HVKXN7IM5ItextIhtml'); return false;"
        coords="323,309,341,327">
  <area shape="rect"
        href="1HVSR8669I382KPTIDBItextIhtml"
        onClick="popUpEvt(event,'1HVSR8669I382KPTIDBItextIhtml'); return false;"
        coords="61,509,79,527">
</map>

<center>
  <table width=* height=* cellpadding=0 cellspacing=0 border=0>
    <tr>
      <td valign=center align=center>
        <img USEMAP="#index.html"
             SRC="index.jpg"
             ALIGN=middle
             BORDER=0
             onClick=popDown();>
      </td>
    </tr>
    <tr>
      <td VALIGN=top ALIGN=right>
        <table>
          <tr>
            <td ALIGN=right VALIGN=middle>
              <map NAME="CmapToolsTrademark">
                <area SHAPE="rect"
                      href="http://cmap.ihmc.us/"
                      onClick="openResource(event,'http://cmap.ihmc.us/', 0, 2); return false;"
                      coords="1,1,210,50">
              </map>
            </td>
          </tr>
          <tr>
            <td  ALIGN=right VALIGN=middle>
              <img USEMAP="#CmapToolsTrademark"
                   SRC="CmapToolsTrademark.gif" 
                   ALT="IHMC Cmap Tools Trademark" width="210" height="50"
                   ALIGN=middle
                   BORDER=0>
            </td>
            <td VALIGN=middle>
            </td>
          </tr>
        </table>
      </td>
    </tr>
  </table>
</center>
</BODY>
</HTML>
<div id="1HVSR6KXWI1GK9NT3IBMItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://cs360project.com/roberto/KA_3.doc "TITLE="Software Construction">
      KA_3_Software_Construction
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HZ7SX4KCI1C78YVI88ItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/KA_7.doc "TITLE="KA7">
      KA_7
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1JBHGPNCLI2874TYNIT0ItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/subtopic/RelatedDisciplinesProjectManagement.doc "TITLE="">
      Project Management (Related Dis)
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1J60KF1WCI1JSTB3GIBVItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/prototype2/ "TITLE="Prototype2">
      Layout_Design1
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HZ7SZDXSI1GJKT4MI8PItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://cs360project.com/roberto/KA_9.doc "TITLE="ka9">
      KA_9
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HZ7SZCGCI1YLR21WI8KItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/KA_8.doc "TITLE="ka8">
      KA_8
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1JBKJ4999IXW7YK2IJGItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/subtopic/SoftQualityAssurance.doc "TITLE="">
      Quality Assurance
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HVSR7G8BI1CCYP9QICKItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://cs360project.com/roberto/KA_4.doc "TITLE="Software Testing KA 4">
      KA_4_Software_Testing
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1JB60QHHNI1WXSFV0IHMItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/subtopic/ConstructionMinimizingComplexity.doc "TITLE="minimizing complexity">
      Minimizing Complexity (Software Construction)
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1JB60N1KTIW1PGNCIDYItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/subtopic/SoftwareDesignQualityAnalysis.doc "TITLE="">
      Software Analysis (Software Design)
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HTB6FC6HI22G1V7MI7FItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/diagram.jpg "TITLE="diagram">
      Diagram
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1JDSWL1NNI57TV8VIRHItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/ProjectManagement/projectsite/documentation/PMP_CS360_Proink_Revision_4_0.doc "TITLE="">
      pmp
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HVSR3W8VI26XWGR3I8KItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/KA_1.doc "TITLE="Chapter review of SOWBOK (Software body of Knowledge)">
      KA_1_Software_Requirements
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1J993Z0CJIY2RSS1I2Q4ItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/prototype2.1/ "TITLE="prototype 2.1">
      Prototype2.1
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HRCRSJ04I16B9DP0IV0ItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/prototype.pptx "TITLE="Prototype">
      Prototype
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1J9YHPPF5I1NDLB4MIGMItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/new_dsm.png "TITLE="DSM">
      Design Structure Matrix
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HQ0H5TBGIHCLXY6IDWItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/R_1.doc "TITLE="Reseach for Semantic Web, NIG vs I2, and Tim Berners Lee">
      NGI_I2_Berners_SemanticWeb
      </a>
      </td>
    </tr>
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://cs360project.com/roberto/pmi_review.doc "TITLE="pmi review">
      PMI_Review
      </a>
      </td>
    </tr>
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://cs360project.com/roberto/Executable_UML.doc "TITLE="xuml review">
      Executable_UML
      </a>
      </td>
    </tr>
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/guideToSDP.doc "TITLE="SDP">
      Guide to Software Development Plan
      </a>
      </td>
    </tr>
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/AppArchitectReview.doc "TITLE="Appilcation Architecture">
      Application Architecture Review
      </a>
      </td>
    </tr>
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/SOA_Web_Services_Review.doc "TITLE="SOA">
      SOA_and_WebServices_Review
      </a>
      </td>
    </tr>
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/Comet_Review.doc "TITLE="Comet">
      Comet Review
      </a>
      </td>
    </tr>
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/Acclaro_PR.doc "TITLE="acclaro pr">
      Acclaro Principals Review
      </a>
      </td>
    </tr>
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/UI_Review.doc "TITLE="UI">
      UI Review
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1JDSWLT9KI1L3615SISFItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/ProjectManagement/projectsite/documentation/VisionDocument_v2.1.doc "TITLE="">
      Vision
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1JB38813NI1M9J9MRILQItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/subtopic/Baseline.doc "TITLE="baseline">
      Baseline (Config Management Sub)
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HRCRKBT4I2BBNSCJIR8ItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/risk.xls "TITLE="Risk">
      Risk
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HRCRKBT4I2BBNSCJIR8ItextIx-url" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/DSMTutorial.pdf "TITLE="DSM- risk analysis">
      DSM
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HZ7SX0JZI1NNX6ZSI7ZItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/KA_6.doc "TITLE="Knowledge area 6">
      KA_6
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HVSR5V7MIRW58DIB2ItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://cs360project.com/roberto/KA_2.doc "TITLE="SWEBOK KA_2 software design">
      KA_2_Software_Design
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1JBHGV7VLI2DJFRW9I1D0ItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/subtopic/TestingFaultBasedTechniques.doc "TITLE="">
      Fault Based Techniques (Soft. Testing)
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1JDSWSPCDI20M5H8QI10FItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/ProjectManagement/projectsite/index.html "TITLE="">
      Project Site
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HZ96H7WXI1JDQQB9I8YItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/risk_assessment.pdf "TITLE="Risk Assessment">
      Risk Assessment
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1JB387F5TI19GTMVKIKZItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/subtopic/TestingTools.doc "TITLE="">
      Testing Tools(tools&Methods sub)
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1JBHGSH1RIDF9HSMI12YItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/subtopic/RequirementsValidation.doc "TITLE="">
      Requirements Validation
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HZ7SZGF7IDM5CPQI8YItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/KA_11.doc "TITLE="KA11">
      KA_11
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HZ7SZFMZI1B14J6JI8TItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/KA_10.doc "TITLE="ka10">
      KA_10
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1JDSWL9XDI2DV92C7IRSItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/ProjectManagement/projectsite/documentation/SDD.doc "TITLE="">
      SDD
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HZ9DMBNSI1VZJXZ2I1D2ItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/QFD.jpg "TITLE="QFD">
      QFD
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1J9YHPF9KI1NS2PKQIG7ItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/new_qfd.gif "TITLE="QFD">
      Revised QFD
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HST1BC2CI1S91464I72ItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/_Elaboration.doc "TITLE="Are we ready for Elaboration Phase? Progress and to-do's">
      Phase_Elaboration_Ready
      </a>
      </td>
    </tr>
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://cs360project.com/roberto/Insulin_Pump.doc "TITLE="insulin pump improvement">
      insulin_pump
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1JF0GJVQ6I13STLYDIGRItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/Methodologies/Module_Interfaces.jpg "TITLE="">
      Module Interface
      </a>
      </td>
    </tr>
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/Methodologies/usecase.jpg "TITLE="">
      Use-Case
      </a>
      </td>
    </tr>
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/Methodologies/ER.jpg "TITLE="">
      ER
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1JDSWLH9MI29BZH2PIS5ItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/ProjectManagement/projectsite/documentation/Software_Requirements_Specification.doc "TITLE="">
      SRS
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HZ9B92JPIQ4HFHDIZ0ItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/prototype "TITLE="prototype II">
      Executable Prototype
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1JBKJ2ZBCISVW0BPIFRItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://en.wikipedia.org/wiki/Software_quality_assurance "TITLE="">
      Impact Analysis
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HZGDW791IBRKMDBIB2ItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/exam2.docx "TITLE="Exam2">
      Exam2
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HZ9DMMX8I19NDPLKI1DLItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/FMEA.xls "TITLE="FMEA">
      FMEA
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HZ9DMHJ9I9TCG6SI1DBItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/DSM.jpg "TITLE="revised dsm">
      revised_dsm
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1J60KLJJYI24W396GIJSItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://robcar1.freehostia.com/login/ "TITLE="login">
      Login_1
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1JBHGLC3CIDDR44TIF7ItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/subtopic/EngineeringProcess.doc "TITLE="">
      Process Measurement Tech
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1J9YHRDGQI1596JXJIHCItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/SDP.doc "TITLE="SDp">
      Software Development Plan
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1JB388HB5I1HVKXN7IM5ItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://www.cs360project.com/roberto/subtopic/QualityManagement.doc "TITLE="">
      Engineering Mgmt subtopic
      </a>
      </td>
    </tr>
  </table>
</div>
<div id="1HVSR8669I382KPTIDBItextIhtml" style="POSITION: absolute; Z-INDEX: 20; VISIBILITY: hidden; left: 0; top: 0;">
  <table border=1 cellpadding=1 cellspacing=0 bgcolor="#dddddd">
    <tr>
      <td nowrap><font face="Geneva, Arial" size=2>
      <a href="http://cs360project.com/roberto/KA_5.doc "TITLE="Software Maintenance KA_5">
      KA_5_Software_Maintenance
      </a>
      </td>
    </tr>
  </table>
</div>

